<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>详情页</title>
	<meta name=”viewport” content=”width=device-width, initial-scale=1″ />
	<!--[if lt IE9]> 
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lte IE 8]> 
	<noscript>
	     <style>.html5-wrappers{display:none!important;}</style>
	     <div class="ie-noscript-warning">您的浏览器禁用了脚本，请<a href="">查看这里</a>来启用脚本!或者<a href="/?noscript=1">继续访问</a>.
	     </div>
	</noscript>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 768px)" href="css/detail-768.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 768px)" href="css/detail.css" />
</head>
<body>
	<div class="content">
		<h1 class="title">{{ title }}</h1>
		<hr>
		<p>{{ article }}</p>
	</div>
</body>
</html>