<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>搜索引擎测试</title>
	<meta name=”viewport” content=”width=device-width, initial-scale=1″ />
	<!--[if lt IE9]> 
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lte IE 8]> 
	<noscript>
	     <style>.html5-wrappers{display:none!important;}</style>
	     <div class="ie-noscript-warning">您的浏览器禁用了脚本，请<a href="">查看这里</a>来启用脚本!或者<a href="/?noscript=1">继续访问</a>.
	     </div>
	</noscript>
	<![endif]-->
</head>
<body>
	<div class="search">
		<h1 class="logo"><span>搜索引擎测试</span></h1>
		<form action="" method="post">
			<p class="txt">
				 {% csrf_token %}
            	{{form}}
            <input type ="submit" value="提交"  class="search_btn">
			</p>
		</form>
	</div>
	<link rel="stylesheet" type="text/css" href="static/css/reset.css">
	<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 768px)" href="static/css/main-768.css" />
	<!-- <link rel="stylesheet" type="text/css" media="screen and (min-width: 768px) and (max-device-width: 992px)" href="css/main-992.css" /> -->
	<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 768px)" href="static/css/main.css" />
</body>
</html>