.content{
	padding: 100px;
	color: #333;
}
.content .title{
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 20px;
}
.content p{
	font-size: 1.2em;
	line-height: 2em;
	text-indent: 2em;
	padding-top: 20px;
}